:root {
    --block-bg: #1a1a18;
    --block-light-bg: #21211e;
    --main-bg: #0c0c0a;
    --golden: #d3bc8e;
    --golden-light: #e3d2af;
    --genshin-white: #e9e5dc;
    --genshin-light-white: #d1cdc3;
    --genshin-text: #4d5669;
    --genshin-light-text: #767e91;
    --pyro: #ff9999ff;
    --hydro: #80c0ffff;
    --electro: #ffacffff;
    --anemo: #80ffd7ff;
    --geo: #ffe699ff;
    --cryo: #99ffffff;
    --dendro: #99ff88ff;
    --gray: #99a1b3;
    /* #a5a5a5 */
}

body {
    background-color: var(--main-bg) !important;
    color: var(--genshin-light-white);
}

@font-face {
    font-family: "genshin";
    src: url("genshin.woff2");
}

.display-none {
    display: none;
}
.ql-editor {
    padding: 0;
}

.ql-toolbar.ql-snow {
    border-width: 0 !important;
    border-radius: 10px;
    background-color: var(--block-bg);
    padding: 7px !important;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    width: auto;
}

.element-img {
    opacity: 0.6;
    font-family: "genshin";
    font-size: 16px;
    color: var(--golden) !important;
}

.element-img:hover {
    opacity: 0.8;
    color: var(--golden) !important;
}

.ql-active .element-img {
    opacity: 1;
    color: var(--golden) !important;
}

.golden {
    color: var(--golden);
}

.gray {
    color: var(--gray);
}

.pyro {
    color: var(--pyro);
}

.dendro {
    color: var(--dendro);
}

.hydro {
    color: var(--hydro);
}

.cryo {
    color: var(--cryo);
}

.geo {
    color: var(--geo);
}

.anemo {
    color: var(--anemo);
}

.electro {
    color: var(--electro);
}

.ql-container {
    height: auto !important;
}

#content-editor {
    /* background-color: var(--main-bg); */
    font-family: "genshin";
    border-width: 0 !important;
    overflow-y: auto;
    flex: 1;
}

.ql-editor div,
.ql-editor p,
.ql-editor h1,
.ql-editor ul,
.ql-editor ol {
    padding: 10px !important;
    padding-top: 28px !important;
    border-radius: 10px;
    background-color: var(--block-bg);
    position: relative;
    margin-bottom: 5px !important;
}

.ql-editor div::before,
.ql-editor p::before,
.ql-editor h1::before,
.ql-editor ul::before,
.ql-editor ol::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 12px;
    color: var(--golden);
}

.ql-editor div::before {
    content: "Блок";
}

.ql-editor div.characters::before {
    content: "Блок персонажей";
}

.ql-editor div.artifact-sets::before {
    content: "Блок артефактов";
}

.ql-editor div.weapons::before {
    content: "Блок оружий";
}

.ql-editor p::before {
    content: "Параграф";
}

.ql-editor ul::before,
.ql-editor ol::before {
    content: "Список";
}

.ql-editor h1::before {
    content: "Заголовок";
    font-weight: normal;
}

.ql-editor h1.head {
    font-family: "genshin";
    font-weight: normal;
    font-size: 20px !important;
}

#main {
    display: grid;
    grid-template-columns: 1fr 500px; /* Первая колонка гибкая, вторая фиксирована */
    grid-template-rows: 1fr auto; /* Ряды для контента и кнопок */
    gap: 7px;
    padding: 7px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg);
}

#preview {
    grid-row: 1; /* Размещаем на первой строке */
    grid-column: 2; /* Размещаем на второй колонке (фиксированная ширина) */
    width: 500px; /* Ширина фиксирована */
}

#editor {
    grid-row: 1; /* Размещаем на первой строке */
    grid-column: 1; /* Занимаем первую колонку */
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--genshin-light-white);
    gap: 7px;
    box-sizing: border-box;
    overflow: hidden;
}

#button-bar {
    grid-row: 2; /* Размещаем на второй строке */
    grid-column: 1 / span 2; /* Растягиваем на две колонки */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Выровнять кнопки по ширине контейнера */
    align-items: center; /* Центрировать кнопки по вертикали */
    gap: 7px; /* Пространство между кнопками */
    border-radius: 10px;
}

.ql-editor a {
    color: var(--golden) !important;
}

.button {
    background-color: var(--block-bg);
    color: var(--golden-light);
    font-family: "genshin", sans-serif;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    text-align: center;
    outline: none;
}

.button:hover {
    background-color: var(--block-light-bg);
    /* color: var(--block-bg); */
}

.button:active {
    background-color: var(--golden-light);
    color: var(--main-bg);
}

.button:disabled {
    background-color: var(--block-light-bg);
    color: var(--genshin-light-text);
    cursor: not-allowed;
}

::-webkit-scrollbar {
    width: 12px;
    /* background-color: blue;
    border: 10px solid red; */
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--golden);
    border-radius: 10px;
    border: 3px solid var(--block-bg); /* Создаем отступ вокруг ползунка */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--golden-light); /* Цвет ползунка при наведении */
}

::-webkit-scrollbar-track {
    background-color: var(--block-bg);
    border-radius: 10px;
}

.ql-editor .plus-list li,
.ql-editor .minus-list li,
.ql-editor .point-list li {
    list-style: none;
}

.ql-editor .plus-list li::before,
.ql-editor .minus-list li::before,
.ql-editor .point-list li::before {
    color: var(--genshin-light-white);
    font-size: 13px;
}

.ql-editor .plus-list li::before {
    content: "+";
}

.ql-editor .minus-list li::before {
    content: "-";
}

.ql-editor .point-list li::before {
    content: "•";
}

.input {
    background-color: var(--block-bg); /* Фон в тон общему стилю блоков */
    color: var(--genshin-light-white); /* Цвет текста такой же, как в кнопках */
    font-family: "genshin", sans-serif; /* Используем тот же шрифт */
    font-size: 14px; /* Размер шрифта */
    padding: 7px 10px; /* Примерный padding, как у кнопок */
    border-radius: 10px; /* Закругленные углы, как у кнопок */
    border: none; /* Убираем рамку */
    outline: none; /* Убираем стандартное выделение */
    flex: 1;
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.input:focus {
    background-color: var(--block-light-bg); /* При фокусе светлый фон */

    outline: 0px solid var(--gray); /* Добавляем тонкую рамку золотого цвета при фокусе */
}

.ql-toolbar button svg {
    width: 20px !important; /* Устанавливает новый размер ширины */
    height: 20px !important; /* Устанавливает новый размер высоты */
}

.ql-tooltip ql-editing {
    z-index: 100;
}
